<!-- for chatbox -->
<!-- on -->
<% if(locals.user){ %>
  <div id="user-chat-box">
    <!-- messages part -->
    <ul id="chat-messages-list">
       <% for(i of chats) {%>
         <% if(locals.user.email==i.user.email){ %>
            <li class="self-message">
              <span><%=i.message%></span>
              <sub><%=i.user.name%></sub>
            </li>
          <% } else{%>
            <li class="other-message">
              <span><%=i.message%></span>
              <sub><%=i.user.name%></sub>
            </li>
          <% } %>
       <% } %>
    </ul>
    <!-- sending message part -->
    
      <div id="chat-message-input-container">
        <form method="POST" action="/chat/send" id="create-chat-form" >
        <input name="message" id="chat-message-input" placeholder="Type message here..">
        <button type="submit" value="Submit" id="send-message">Submit</button>
        </form>
      </div>
   
  </div>   
<% } %>


