<p>Enter email on which we can send you the link to reset your password</p>
<form method="POST" action="/users/check-email">
<input type="email" name="email" placeholder="Enter your email" required>
<button type="submit" value="Submit">Submit</button>
</form>