<!-- will be accessed in home_controller.js -->
<!-- removing common part for layout
<html>
  <head>
      <title><%= title %></title>
  </head> -->
  <!-- including partials -->
  <!--  include('_header.ejs');  -->


      <h1>Hello, world from home.ejs</h1>
      
      <section id="feed-posts">
        <h4>Posts</h4>
        <% if (locals.user){ %> <!--only user will throw error -->
        <form action="/posts/create" id="new-post-form" method="POST">
          <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
          <input type="submit" value="Post">
        </form>
        <% } %>
       <div id="posts-list-container">
         <ul>
        <% for (i of posts){ %>
         <li>
           <%= i.content %>
           <br>
           <p>
             <%=i.user.name %>
           </p>
           <div class="post-comments">
            <% if (locals.user){ %> <!--  will only be visible or accessible by authenticated users -->
           <form method="POST" action="/comments/create">
            <input type="text" name="content" cols="20" rows="1" placeholder="Comment here..."></textarea>
            <!-- need to send the postid -->
            <input type="hidden" name="post" value="<%=i._id%>" />
            <input type="submit" value="Add Comment">
           </form>
           <% } %>
          </div>
         </li>
        <% } %>
         </div>
        </ul>
      </section>
      
  <!--  include('_footer'); -->
<!-- </html>  -->
