<!-- will be accessed in home_controller.js -->
<!-- removing common part for layout
<html>
  <head>
      <title><%= title %></title>
  </head> -->
  <!-- including partials -->
  <!--  include('_header.ejs');  -->

 <body>
      <h1>Hello, world from home.ejs</h1> 
  </body>


  <!--  include('_footer'); -->
<!-- </html>  -->
