<!-- will be accessed in home_controller.js -->
<!-- removing common part for layout
<html>
  <head>
      <title><%= title %></title>
  </head> -->
  <!-- including partials -->
  <!--  include('_header.ejs');  -->

<link rel="stylesheet" href="/css/home.css">

<div id="home-container">

 <section id="feed-posts">
  <h4>Posts</h4>
  <% if (locals.user){ %> <!--only user will throw error -->
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea required name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
      <input type="submit" value="Post">
    </form>
  <% } %>
  <!-- displaying individual posts -->
  <div id="posts-list-container">
    <ul>
      <% for (i of posts){ %>
          <%-include('_post');%>  
      <% } %>
    </ul>
  </div>          
</section>
<!-- to show all the users -->
<section id="user-friends">
  <h4>Friends</h4>
  <% for(u of all_users) {%>
     <p>
       <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
     </p>
  <% } %>
</section>
</div>
<!-- script for ajax posts -->
<script type="text/javascript" src="/js/home_comments.js"></script>
<script type="text/javascript" src="/js/home_posts.js"></script>

<!--  include('_footer'); -->
<!-- </html>  -->
