<!-- will be accessed in home_controller.js -->
<!-- removing common part for layout
<html>
  <head>
      <title><%= title %></title>
  </head> -->
  <!-- including partials -->
  <!--  include('_header.ejs');  -->


<h1>Hello, world from home.ejs</h1>
      
<section id="feed-posts">
  <h4>Posts</h4>
  <% if (locals.user){ %> <!--only user will throw error -->
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea required name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
      <input type="submit" value="Post">
    </form>
  <% } %>
  <!-- displaying individual posts -->
  <div id="posts-list-container">
    <ul>
      <% for (i of posts){ %>
          <%-include('_post');%>  
      <% } %>
    </ul>
  </div>          
</section>
      
  <!--  include('_footer'); -->
<!-- </html>  -->
