<p>Enter new password</p>
<form method="POST" action="/users/check-reset-password/<%=accessToken%>">
    <input type="password" name="password" placeholder="Enter new password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit" value="Submit">Submit</button>
</form>