 <!-- removing common part for layout -->
<!-- <html>
  <head>
      <title><%= title %></title>
  </head>
  include('_header');  
 
    include('_footer'); 
  </html> -->


<link rel="stylesheet" href="/css/user_profile.css">
<body>
    <h1>Hello, <%=user.name%> from user_profile</h1>
    <p><%=user.email%></p>
</body>
